*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.stat{
    padding:0 0 0;
    display: flex;
}
.stat h5{
        margin: 50px 20px 60px;
        height: 100px;
        width:200px;
        text-align:center;
        border-radius:10px;
        color:white;  
        padding:10px;
        line-height:40px;
        background:rgb(78, 116, 241);
        box-shadow: 10px 10px 40px rgb(167, 167, 167,0.8); 
}

.window{
   
    position: relative;
    width:700px;
}

.main{
    padding: 20px 300px 0;
}